{{#each this}}
<div class="country-card">
  <h2 class="country-card__name">{{name}}</h2>
<div class="country-card__overlay">
    <div>
        <ul class="country-card__info">
            <li><h3 class="country-card__prop">Capital: <span class="country-card__prop--normal">{{capital}}</span></h3></li>
            <li><h3 class="country-card__prop">Population: <span class="country-card__prop--normal">{{population}}</span></h3></li>
            <li><h3 class="country-card__prop">Languages:</h3>
                    <ul class="country-card__prop--list">
                        {{#each languages}}
                        <li>{{name}}</li>
                        {{/each}}
                    </ul>
            </li>
        </ul>
    </div>
    <div>
        <img
          src="{{flag}}"
          alt="{{name}} flag"
          class="country-card__flag"
          width="400"
         />
    </div>
</div>
</div>
{{/each}}